@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuff Page</title>
        <link rel="stylesheet" href="~/css/stuffIndex.css" /> <!-- Adding this line to use the css from given file -->
    </head>

    <body>
        <header>
            <h1>Header of page</h1>
        </header>

        <div class="topnav">
            <a class="active" href="#">Home</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>

        <h2>Some header</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
            lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam
            viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent
            et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt
            congue enim, ut porta lorem lacinia consectetur.
        </p>
    </body>
</html>